In [9]:
import pandas as pd
from pandas import DataFrame
import matplotlib.pyplot as plt

<img style="float:center;" src="https://github.com/bioinfo01123/Semana1/blob/master/pandas.png?raw=true" width = 80%>

<img style="float:center;" src="https://raw.githubusercontent.com/bioinfo01123/taller2022/main/Clase1_dataframes_pandas.png" width = 80%>

<span style="color:blue"> ***¿Cómo crear un Dataframe?***</span>

In [4]:
vacio = pd.DataFrame(data=None, index=None, columns=None)

In [5]:
vacio

Empty DataFrame
Columns: []
Index: []

In [6]:
df_p=pd.DataFrame(columns=['código','aminoácido'])

In [ ]:
df_p=df_p.append({'código':'Ala','aminoácido':'Alanina'}, ignore_index=True)
df_p

<span style="color:orange"> ***Usando listas y diccionarios***</span>

In [ ]:
s = ['a','b','c','d','e','f','g']
num = [1, 2, 3, 4, 5, 6, 7]

In [ ]:
dic1 = {'s': s}

In [ ]:
dic1

In [ ]:
dic2 = {'num': num}

In [ ]:
dic2

In [ ]:
dic3 = {'s': s, 'num': num} #objeto es la lista/valor
dic3

In [ ]:
df = pd.DataFrame(data = dic3)

In [ ]:
df

In [ ]:
df.head(0)#Regresa los encabezados del DataFrame

In [ ]:
df.head() # los primeros 5 valores

In [ ]:
df.head(1)#Regrsa la primera fila de Datos del DataFrame

In [ ]:
df.columns.tolist() #Hacer de los encabezados una lista

In [ ]:
df.tail(1) #Regresa la última fila de Datos del DataFrame

In [ ]:
df.tail() #Regresa los últimos 5 valores

<span style="color:orange"> ***Agregar índice***</span>

In [ ]:
df['index'] = df.index #+ 1 #permite iniciar el índice a partir del 1
df

In [ ]:
df.insert(0, 'index', df.pop('index'))
#la funciones pop e insert permiten insertar una columna nueva y moverla a la posición en que se desea colocar

In [ ]:
df

In [ ]:
del(df['index']) #La función del permite eliminar columnas 
df

<span style="color:orange"> ***Eliminar columnas y filas***</span>

In [ ]:
#existe otra función que permite eliminar columnas. "drop".
#para que la modificación se realice se debe guardar en una variable 
df = df.drop(columns = ['s'])
df

In [ ]:
df.insert(0, 's', s)

In [ ]:
df1 = df.drop(df.tail(1).index) #elimina el última fila de datos
df1

In [ ]:
df1[df1['s'] == 'e']

<span style="color:orange"> ***función "info"***</span>

In [ ]:
df.info() # Te permite conocer el tipo de datos

# Datos provenientes de un análisis de 16S

____

<img style="float:center;" src="https://europepmc.org/articles/PMC5482524/bin/nihms865452f1.jpg
" width = 80%>

# Filtrar DataFrame

In [ ]:

Columnas = [0, 5, 7, 8, 10, 11, 13, 14, 16, 17, 19, 20, 22, 23, 25]
Nombres = ['Entry', 'Kingdom', 'K_Score', 'Phylum', 'P_Score', 'Class', 'C_Score',
'Order', 'O_Score', 'Family', 'F_Score', 'Genus', 'G_Score', 'Species', 'S_Score']
column_scores = ['K_Score', 'P_Score', 'C_Score', 'O_Score', 'F_Score', 'G_Score', 'S_Score']
category_names = ['Kingdom', 'Phylum', 'Class', 'Order', 'Family', 'Genus', 'Species','Entry']

In [ ]:
tax = pd.read_csv('C:/Users/Home/Downloads/ASV_vs_RDP_classif.txt', sep='\t', header =None)

In [ ]:
tax = tax[Columnas]

In [ ]:
tax.columns=Nombres

In [ ]:
tax

In [ ]:
tax[['Entry']]

In [ ]:
df1 = tax[['Entry', 'Genus','G_Score']]#toma sólo las columnas que se indican entre comillas

In [ ]:
df1

In [ ]:
df1.max()

In [ ]:
df1.min()

In [ ]:
especies = tax['S_Score'] >= 0.7

In [ ]:
especies

In [ ]:
esp = tax[tax['S_Score'] >= 0.7]
#jugar con el score

In [ ]:
esp

In [ ]:
cuentas = pd.read_csv('C:/Users/Home/Downloads/ASV_counts.txt', sep='\t')

In [ ]:
cuentas

In [ ]:
df2 = esp.merge(cuentas, on = 'Entry')

In [ ]:
df3 = df2.sort_values(by ='Sample_17',ascending=False).reset_index(drop=True)
df3

In [ ]:
df4 = pd.pivot_table(df3, values='Sample_17', index='Species', aggfunc=sum).reset_index()

In [ ]:
df5 = df4.sort_values(by ='Sample_17',ascending=False).reset_index(drop=True)

In [ ]:
top5 = df5.head(5)

In [ ]:
top5

In [ ]:
plt.gca().set_title("Especies", fontsize=30)
top5.Sample_17.plot.pie(label = '', cmap='Pastel1',figsize = (7,7), 
                        title ="", fontsize = 12,autopct='%1.2f%%', 
                        shadow = False,
                        wedgeprops   = { 'linewidth' : 2,'edgecolor' : "silver" })
circle = plt.Circle( (0,0), 0.7, color='white')
p=plt.gcf()
p.gca().add_artist(circle)
plt.show()